!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dist::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Carton
local/

# Dist::Zilla / dzil
Crypt-OpenSSL-PKCS12-*.*/
804cf94a94dd9091525be7b36b57ef4006c5b282.patch
PKCS12.c
.claude/settings.local.json
.env
